[PATHS]
doc_path = X:/Data/BP/czechData_test.json
model_path_load = X:/Data/BP/czech_m.bin
model_path_save = X:/Data/BP/ca3
queries_path = X:/Data/BP/topicData.json
result_file_path = X:/Data/BP/results.txt
seznam_path = X:/Data/BP/dareczech/debug.tsv

[MODELS]
model_name = tt
transformer_model = UWB-AIR/Czert-B-base-cased
train = True
save = True
vector_size = 300

[PREPRO]
tfidf = True
lemma = True
stopwords = True
deaccent = True
lang = cs

[SEARCH]
top_n = 100
column = title

[OTHERS]
workers = 1


